build/

# Qt Creator files:
*.user
*.user.*
leaks.xml

# Runtime files:
*.sqlite
*.mp3
*.pk
*.raw
*.SkauTanTemplates
*.ini
*.log
BeatDetectTest/*.raw
BeatDetectTest/*.pk
BeatDetectTest/filelist*


# Compiled translations
translations/*.qm
